.navbar ul{
		list-style-type: none;
}

/***************************************
Challege 2 - Interactive Navigation Bar
***************************************/

nav a:link{
	text-decoration: none;
}
nav a:hover {
	color: #fff;
	background-color: black;
}
nav a:active {
	border-left: 5px solid black;
	border-right: 5px solid black;
}